.topToolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  @media screen and (min-width: 900px) {
    .small {
      display: none;
    }
  }

   @media screen and (max-width: 900px){
    .big {
      display: none;
    }
  }

  .title {
    padding: 5px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .tbar-icon {
    /*color: rgb(193, 168, 216);*/
    color: rgb(18, 5, 31);
    background-color: rgb(197, 181, 210);
    border-style: hidden;
    margin: 1%;
    cursor: pointer;
  }

  .hover-class:hover{
    background-color: rgb(191, 164, 212);
    border-style: solid;
    border-radius: 10px
  }

  .tbar {
    background-color: rgb(197, 181, 210);
  }

  ::ng-deep .mainMenu {
    background: rgb(193, 168, 216);
  }

