.topToolbar {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .title {
    padding: 5px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .tbar-icon{
    color: rgb(193, 168, 216);
  }

  .tbar{
    background-color: rgb(193, 168, 216);
  }

  ::ng-deep .mainMenu{
    background: rgb(193, 168, 216);
  }

